# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv/
venv/
ENV/
env/

# Editor directories and files
.idea/

# Data and output directories
data/
outputs/

# Local virtual env
.venv/
setenv_dataspace_copernicus_eu.sh
setenv_dataspace_copernicus_eu.sh:Zone.Identifier
scripts/setenv_dataspace_copernicus_eu.sh
scripts/setenv_dataspace_copernicus_eu.sh
scripts/set_env_variables.sh
src/utils/download_sentinel - コピー.py:Zone.Identifier
src/utils/download_sentinel - コピー.py
configs/download - コピー.yaml
configs/download - コピー.yaml:Zone.Identifier
scripts/preprocess_sentinel2 - コピー.sh:Zone.Identifier
configs/download_fukuoka - コピー.yaml:Zone.Identifier
configs/download_karatzu - コピー.yaml:Zone.Identifier
configs/download_hita - コピー.yaml:Zone.Identifier
.gitignore
scripts/download_sentinel2 - コピー.sh:Zone.Identifier
scripts/download_sentinel2 - コピー.sh:Zone.Identifier
